:root{
    --white: white;
    --grey: rgb(50, 50, 50);
    --main-theme: rgba(55,71,114,255); /* #374772 */
    --accent-color: ;
}
html{
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
}

/* ***************** */
/* offer starts here */
/* ***************** */

.offer-container{
    background-color: rgb(218, 218, 218);
    min-width: 910px;
}
.fa-tag{
    color: rgba(55,71,114,255);
    animation: focus 2s infinite linear;
}
.offer{
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(55,71,114,255);
    margin: auto;
    padding: 0.2rem 0;
    text-wrap: nowrap;
    overflow: hidden;
    animation: textSlide 50s infinite linear;
}
@keyframes textSlide {
    0%{margin-left: -37rem; text-align: left}
    100%{margin-left: 90rem;}
}

/* *************** */
/* offer ends here */
/* *************** */

/* ****************** */
/* header starts here */
/* ****************** */

header{
    max-width: 70rem;
    min-width: 880px;
    padding: 1rem 1rem;
    margin: auto;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ic-active{
    display: none;
}
.hidden{
    display: none;
  }

.logo img{
    width: 11rem;
}

.navbar ul{
    display: flex;
    align-items: baseline;
    list-style: none;
    gap: 1.2rem;
}
.navbar li>a{
    color: var(--main-theme);
    font-display: none;
    text-decoration: none;
    font-weight: bold;
    transition: 0.2s;
}
.navbar button{
    color: white;
    background-color: var(--main-theme);
    border: none;
    outline: none;
    border-radius: 0.2rem;
    transition: 0.2s;
}
.navbar button a{
    color: white;
    text-decoration: none;
}
button i{
    padding: 0.5rem 1.2rem;
}
.navbar li>a:hover{
    color: rgb(94, 120, 192);
}
.navbar button:hover{
    background-color: rgb(94, 120, 192);
}

/* **************** */
/* header ends here */
/* **************** */

/* ************************ */
/* main section starts here */
/* ************************ */

.main-container{
    background-image: linear-gradient(20deg, rgba(55,71,114,1)60%, rgba(55,71,114,0.5));
    min-width: 910px;
}
.main-sub-container{
    max-width: 70rem;
    margin: auto;
    padding: 5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-left{
    color: white;
    max-width: 33rem;
    position: relative;
    animation: main-left 3s 1 ease-in-out;
}
@keyframes main-left {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.main-left .tag-line{
    font-size: 1rem;
    margin: 15px 2px;
    padding: 0;
    color: rgb(200, 200, 200);
}
.main-left .main-line{
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
    line-height: 0.9;
}
.main-left .intro{
    text-align: justify;
    font-size: 1rem;
    padding: 0;
    margin: 22px 2px;
    color: rgb(200, 200, 200);
}
.main-left .dive-in{
    font-size: 1.1rem;
    margin-top: 5px;
    padding: 0.4rem 1.8rem;
    letter-spacing: 1.1px;
    color: white;
    background-color: var(--grey);
    border: none;
    border-radius: 0.2rem;
    outline: none;
    font-weight: bold;
    transition: 0.2s;
}
.main-left .dive-in:hover{
    color: var(--main-theme);
    background-color: white;
    cursor: pointer;
}
.main-right{
    animation: main-right 3s 1 ease-in-out;
}
@keyframes main-right{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* wave styling starts here */

.custom-shape-divider-top-1748452212 {
    margin-top: -2px;
    min-width: 910px;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1748452212 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
}

.custom-shape-divider-top-1748452212 .shape-fill {
    fill: #374772;
}

/* wave styling ends here */

/* ************************ */
/* sale section starts here */
/* ************************ */

.sale-container{
    max-width: 70rem;
    min-width: 880px;
    margin: 4rem auto auto auto;
    display: flex;
    padding: 4rem 1rem 2rem;
}
.sale-sub-container{
    min-width: 33.33%;
    max-width: 33.33%;
    display: flex;
    background-color: #eff4ff;
}
.sale-left{
    padding: 1rem 0rem 1rem 1rem;
    width: 12rem;
}
.sale-left p{
    font-size: 0.9rem;
    color: rgb(120, 120, 120);
    font-weight: bold;
    margin-bottom: 0;
}
.sale-left h3{
    font-size: 1.4rem;
    margin-top: 0.4rem;
    margin-bottom: 1rem;
    line-height: 2rem;
}
.sale-left a{
    text-decoration: none;
    color: #00227f;
    transition: 0.2s;
}
.sale-left a:hover::after{
    content: " ⚓︎";
    font-size: 0.88rem;
}
.sale-right{
    display: flex;
    align-items: center;
    width: 11rem;
    height: 12rem;
    border-top-left-radius: 100%;
    background-color: #dddfe7;
}
.sale-right img{
    rotate: 10deg;
    margin-left: 1rem;
    width: 9rem;
}

/* ********************** */
/* sale section ends here */
/* ********************** */

/* *************************** */
/* quality section starts here */
/* *************************** */

.quality-container{
    display: flex;
    margin: auto;
    max-width: 70rem;
    min-width: 880px;
    background-color: #eff4ff;
    margin-bottom: 5rem;
}
.quality-sub-container{
    display: flex;
    align-items: center;
    width: 25%;
    padding: 2rem;
}
.quality-text{
    padding-left: 1rem;
}
.quality-icon{
    color: var(--main-theme);
    font-size: 1.5rem;
}
.quality-text h3{
    margin: 0;
    color: rgb(85, 85, 85); 
    font-size: 1rem;
    padding-bottom: 0.2rem;
}
.quality-text p{
    color: rgb(107, 107, 107);
    font-size: 0.8rem;
    margin: 0;
}

/* ************************* */
/* quality section ends here */
/* ************************* */

/* **************************** */
/* products section starts here */
/* **************************** */

.products-container{
    max-width: 70rem;
    min-width: 880px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 2rem;
    column-gap: 2rem;
}

/* **************************** */
/* product template starts here */
/* **************************** */

.product-template-container{
    margin: auto;
    padding: 1rem;
    box-shadow: 0px 0px 05px 3px rgb(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    transition: 0.3s;
    scale: 0.98;
    margin-bottom: 4rem;
}
.product-template-container:hover{
    box-shadow: 0px 0px 15px 6px rgb(0, 0, 0, 0.3);
    scale: 1;
}
.productTemplate *{
    margin: 0;
    padding: 0;
}
.category{
    font-size: 0.8rem;
    letter-spacing: 1px;
    color: rgb(40, 40, 40);
    background-color: #cadcff;
    border-radius: 4rem;
    padding: 0.3rem 1rem;
    text-align: center;
}
.productImg{
    margin: auto;
    text-align: center;
}
.image{
    width: 11rem;
    height: 11rem;
    margin: 1.5rem 0;
    text-align: center;
    object-fit: cover;
    float: center;

}
.name{
    font-size: 1.4rem;
    font-weight: 400;
}
#productRating i{
    margin: 0.5rem 0;
    font-size: 0.6rem;
}
#productRating span{
    margin-left: 0.2rem;
    font-size: 0.7rem;
} 
#productDesc{
    color: rgb(61, 61, 61);
    font-size: 0.9rem;
    margin-bottom: 1rem;
    text-wrap: wrap;
}
#productPrice{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0.8rem 0;
}
#actualPrice{
    text-decoration: line-through;
    color: rgb(30, 30, 30);
    font-size: 0.9rem;
}
#productStock{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
#stockNumber{
    font-weight: 300;
    font-size: 0.9rem;
}
#productQuantity{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 0.5rem 0;
}
.quantityElem{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    border: 1px solid rgb(200, 200, 200);
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 0.2rem;
}
.decrementBtn, .incrementBtn{
    margin: 0rem;
    padding: 0.2rem 0.5rem;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    transition: 0.1s;
}
.decrementBtn{
    border-right: 1px solid rgb(200, 200, 200);
    border-radius: 0.2rem 0rem 0rem 0.2rem;
}
.incrementBtn{
    border-left: 1px solid rgb(200, 200, 200);
    border-radius: 0rem 0.2rem 0.2rem 0rem;
}
.decrementBtn:hover, .incrementBtn:hover{
    background-color: rgb(239, 239, 239);
    cursor: pointer;
    
}
.quantityNumber{
    font-size: 1.1rem;
    padding: 0 0.5rem;
}
.addToCartBtn{
    color: white;
    background-color: var(--main-theme);
    border: 2px solid var(--main-theme);
    outline: none;
    border-radius: 0.2rem;
    padding: 0.5rem 0.9rem;
    font-weight: bold;
    transition: 0.3s;
    margin-top: 0.5rem;
    width: 100%;
}
.addToCartBtn:hover{
    color: var(--main-theme);
    border: 2px solid var(--main-theme);
    background-color: white;
    cursor: pointer;
}
.addToCartBtn.fa-cart-shopping:hover{
    color: var(--main-theme);
}

/* ************************** */
/* product template ends here */
/* ************************** */

/* ************************** */
/* products section ends here */
/* ************************** */

/* ********************************* */
/* why choose us section starts here */
/* ********************************* */
section h1{
    margin-top: 10rem;
    color: var(--main-theme);
    font-size: 3rem;
    font-weight: 500;
    text-align: center;
    min-width: 880px;
}
.why-choose-us{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 70rem;
    min-width: 880px;
    margin-bottom: 5rem;
    margin-top: 2rem;
}
.center-img{
    position: relative;
    margin: 0 5rem;
}
.center-img img{
    width: 16rem;
}
.center-img::before{
    content: "";
    width: 23rem;
    height: 23rem;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(0, 98, 255);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    z-index: -1;

    animation: glow 5s infinite ease-in-out;
}
.center-img::after{
    content: "";
    width: 25rem;
    height: 25rem;
    position: absolute;
    left: 50%;
    top: 50%;
    background-color: transparent;
    border: 2px dashed var(--main-theme);
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: -2;

    animation: spin 4s infinite linear;
}
@keyframes glow{
    0%{background-color: rgb(0, 98, 255)}
    33%{background-color: rgb(81, 148, 255)}
    66%{background-color: rgb(150, 190, 255)}
    100%{background-color: rgb(0, 98, 255)}
}
@keyframes spin{
    0%{transform: rotate(0deg);left: -29%; top: 7.5%;}
    100%{transform: rotate(360deg);left: -29%; top: 7.5%;}
}
@keyframes appear{
    from{
        opacity: 0;
        scale: 0.3;
        translate: 0% 50%;
    }
    to{
        opacity: 1;
        scale: 1;
    }
}
.animate{
    animation: appear linear;
    animation-range: entry 0 cover 33%;
    animation-timeline: view();
}
.why-choose-us-sub{
    width: 20rem;
}
.why-choose-us-sub h3{
    font-size: 1rem;
    font-weight: 700;
    color: rgb(0, 98, 255);
    width: 1rem;
    display: flex;
    aspect-ratio: 1;
    background-color: #e9f0ff;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.8rem;
    border-radius: 100%;
}
.why-choose-us-sub h2{
    margin-bottom: 0.5rem;
    margin-top: 0.6rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: rgb(47, 47, 47);
}
.why-choose-us-sub p{
    margin-bottom: 1.5rem;
    margin-top: 0;
    color: rgb(83, 83, 83);
}

/* ******************************* */
/* why choose us section ends here */
/* ******************************* */

/* ********************** */
/* main section ends here */
/* ********************** */


/* ************************** */
/* footer section starts here */
/* ************************** */

footer{
    background-color: var(--main-theme);
    min-width: 910px;
}
.footer-container{
    max-width: 80rem;
    padding: 3rem 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}
.footer-left img.logo{
    width: 20rem;
    margin: 0;
    padding: 0;
}
.footer-left img.payment{
    width: 15rem;
    margin-top: 2rem;
}
.footer-left p{
    color: rgb(200, 200, 200);
    font-size: 0.9rem;
    margin: 0;
}
.footer-right{
    display: flex;
    gap: 4rem;
}
.footer-right h3{
    color: white;
    font-weight: 500;
}
.shopping a p, .about a p{
    text-decoration: none;
    color: rgb(200, 200, 200);
    text-wrap: nowrap;
    margin: 0.5rem 0;
}
.shopping p:hover, .about p:hover{
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.newsletter p{
    color: rgb(200, 200, 200);
    line-height: 150%;
    font-size: 0.9rem;
}
.newsletter input{
    width: 77%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-size: 0.9rem;
    color: white;
    padding: 0.3rem 0.1rem;
    background-color: transparent;
    margin-top: 1rem;
}
.newsletter input:focus{
    border-bottom: 1px solid white;
    transition: 0.2s;
}
.newsletter button{
    border: none;
    border-radius: 0.1rem;
    outline: none;
    color: white;
    font-size: 1rem;
    height: 1.9rem;
    padding: 0 0.5rem;
    background-color: var(--grey);
    cursor: pointer;
    transition: 0.2s;
    margin-left: 1rem;
}
.newsletter button:hover{
    color: var(--main-theme);
    background-color: white;
}

/* ************************ */
/* footer section ends here */
/* ************************ */

/* ****************** */
/* toast notification */
/* ****************** */

.toast{
    position: fixed;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 0.6rem;
    border-radius: 0.5rem;
    z-index: 1000;
    animation: toast 0.5s ease-in-out;
  }
  
  @keyframes toast {
    from {
      opacity: 0;
      transform: translatex(50px);
    }
    to {
      opacity: 1;
      transform: translatex(0);
    }
  }

  /* ****************** */
  /* toast notification */

  @media (max-width: 1040px){
    .main-left .main-line{
        font-size: 3rem;
    }
    .main-left .intro{
        font-size: 0.9rem;
    }
    .why-choose-us{
        gap: 2rem;
        padding: 0 1rem;
    }
    .why-choose-us-sub h2{
        font-size: 1rem;
    }
    .why-choose-us-sub p{
        font-size: 0.9rem;
    }
    .footer-right{
        flex-wrap: wrap;
    }
  } 
  
  @media (max-width: 900px){
    header, .main-container, .sale-container, .quality-container, .products-container, section h1, .why-choose-us, footer, .offer-container{
        min-width: 97%;
        padding: 0 1rem;
    }
    .main-container{
        margin-bottom: 4rem;
    }
    .main-sub-container{
        flex-direction: column;
        text-align: center;
        gap: 6rem;
    }
    .main-left .main-line{
        font-size: 2.5rem;
        margin: 2rem 0;
    }
    .main-left .intro{
        text-align: center;
    }
    .main-left .dive-in{
        display: none;
    }
    .why-choose-us img{
        display: none;
    }
    .center-img::after{
        display: none;
    }
    .center-img::before{
        display: none;
    }
    .center-img{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .custom-shape-divider-top-1748452212 svg{
        display: none;
    }
    .sale-container{
        display: none;
        margin: auto;
    }
    .sale-sub-container{
        width: 100%;
        display: flex;
        background-color: #eff4ff;
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (max-width: 750px){
    .navbar ul{
        flex-direction: column;
        gap: 0.5rem;
    }
    .footer-container{
        flex-direction: column;
        gap: 3rem;
        text-align: center;
    }
    .footer-right{
        justify-content: center;
    }
    .logo img{
        width: 9rem;
    }
    .quality-container{
        flex-wrap: wrap;
        justify-content: center;
    }
    .products-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .newsletter input{
        width: 60%;
    }
    .logo img{
        text-align: center;
        margin: auto;
    }
    .navbar ul{
        padding: 0;
    }
    .ic-active{
        display: block;
        font-size: 2rem;
        cursor: pointer;
    }
    .navbar ul{
        display: flex; 
        flex-direction: column;
        position: fixed; 
        top: 0;
        left: 0;
        width: 250px; 
        height: 100vh; 
        background-color: #222;
        padding-top: 60px;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in-out; 
        z-index: 1000;
        padding-left: 1rem;
      }
      .ic-active-cross{
        display: block;
        color: rgb(255, 194, 194);
        font-size: 2rem;
        z-index: 1001;
        cursor: pointer;
      }
      .navbar ul a{
        color: white;
        text-decoration: none;
      }
      .navbar ul.active{
        transform: translateX(0);
      }
  }
@media (max-width: 550px){
    .products-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .quality-icon{
        
        font-size: 1.2rem;
    }
    .quality-text h3{
        
        font-size: 0.8rem;
        
    }
    .quality-text p{
        font-size: 0.6rem;
    }
    .main-right img{
        width: 20rem;
    }
     .why-choose-us{
        display: block;
        margin: auto;
        gap: 0rem;
        margin-bottom: 5rem;
        padding-left: 2rem;
        padding-right: 0;
    }
    .animate{
        font-size: 2.5rem;
    }
    .main-heading h1{
        font-size: 2.5rem;
    }
}

@media (max-width: 400px){
    .footer-left img.payment{
        width: 12rem;
    }
    header, .main-container, .sale-container, .quality-container, .products-container, section h1, .why-choose-us, footer, .offer-container{
        min-width: 95%; 
        padding: 0 1rem;
    }
}

  
